<h3>Exploratory Data Analysis of the simulation data</h3> 
The goal of this simulation was to answer the following questions:
<ul>
    <li>When is the deck able to pull off its primary game plan?</li>
    <li>What is the most consistent build?</li>
    <li>How much of a difference does going first and going second make?</li>
    <li>How many basic cards is the ideal number of basic cards?</li>
</ul>

In [1]:
import pandas as pd 

df = pd.read_csv(r'C:\Users\Jordan\project\card-game-simulation\data.csv')
display(df)

        heads/tails  basic_count  turn_PGP_reached
0                 0            2                 3
1                 0            3                 4
2                 0            4                 4
3                 0            5                 7
4                 0            6                 3
...             ...          ...               ...
159995            1            5                 5
159996            1            6                 5
159997            1            7                 3
159998            1            8                 9
159999            1            9                 2

[160000 rows x 3 columns]

In [3]:
#Number of outliers - didn't successfully achieve primary game plan in 10 turns
print(len(df.loc[df['turn_PGP_reached'] == '10+']))

#Remove outliers
df = df.loc[df['turn_PGP_reached'] != '10+']
display(df)

0

        heads/tails  basic_count  turn_PGP_reached
0                 0            2                 3
1                 0            3                 4
2                 0            4                 4
3                 0            5                 7
4                 0            6                 3
...             ...          ...               ...
159995            1            5                 5
159996            1            6                 5
159997            1            7                 3
159998            1            8                 9
159999            1            9                 2

[160000 rows x 3 columns]

In [6]:
import numpy as np

df_heads = df.loc[df['heads/tails'] == 0]
df_tails = df.loc[df['heads/tails'] == 1]

means, stds = [], []
for basic_count in range(2,10):
    means.append(df_heads.loc[df_heads['basic_count'] == basic_count]['turn_PGP_reached'].astype(float).mean())
    stds.append(df_heads.loc[df_heads['basic_count'] == basic_count]['turn_PGP_reached'].astype(float).std())

df_heads_results = pd.DataFrame(data={'basic_count':list(range(2,10)), 'average_turn_PGP_reached':means, 'standard_deviation_turn_PGP_reached':stds})
print('heads start')
display(df_heads_results)


means, stds = [], []
for basic_count in range(2,10):
    means.append(df_tails.loc[df_tails['basic_count'] == basic_count]['turn_PGP_reached'].astype(float).mean())
    stds.append(df_tails.loc[df_tails['basic_count'] == basic_count]['turn_PGP_reached'].astype(float).std())

df_tails_results = pd.DataFrame(data={'basic_count':list(range(2,10)), 'average_turn_PGP_reached':means, 'standard_deviation_turn_PGP_reached':stds})
print('tails start')
display(df_tails_results)

heads start

   basic_count  average_turn_PGP_reached  standard_deviation_turn_PGP_reached
0            2                    4.0716                             1.036041
1            3                    3.8655                             1.079966
2            4                    3.7725                             1.174939
3            5                    3.7225                             1.240019
4            6                    3.7156                             1.330900
5            7                    3.7501                             1.416704
6            8                    3.7721                             1.460539
7            9                    3.8108                             1.518234

tails start

   basic_count  average_turn_PGP_reached  standard_deviation_turn_PGP_reached
0            2                    3.4323                             1.224895
1            3                    3.2332                             1.280774
2            4                    3.1357                             1.409853
3            5                    3.0899                             1.499081
4            6                    3.0920                             1.631810
5            7                    3.0804                             1.690746
6            8                    3.0857                             1.760757
7            9                    3.1126                             1.824734

From our findings, we discover that